body, html, p, div, h1, h2, h3, h4, h5,span,img
  margin 0
  padding 0
  font-size 13px


.clearfix
  display inline-block
  &.after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visiblity hidden