body, html, p, div, h1, h2, h3, h4, h5,span,img,ul,a
  margin 0
  padding 0
  list-style none
  box-sizing border-box
  text-decoration none
  color #565353

img
  width 100%

.clearfix
  display inline-block
  &.after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visiblity hidden